:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* background-color: #1c1c1c;
  color: #e4e4e4; */

  background-color: #e4e4e4;
  /* color:  #1c1c1c; */
  color:  #000;
}

body {
  margin: 0;
}

::-webkit-scrollbar{ 
  display: none;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}