.Title-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.Title-header {
    font-size: 70px;
}

.Title-container p {
    font-size: 18px;
    max-width: 900px;
    text-align: center;
}

.Navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    /* background-color: #222222; */
    background-color: var(--background2);
    color: var(--font);
    padding: 20px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

.Navbar-container div:nth-child(1) {
    border-bottom: 5px solid #5ec6f3;
    transition: border 300ms;
}

.Navbar-container div:nth-child(1):hover {
    border-bottom: 5px solid #4cb4e1;
}

.Navbar-container div {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dark-light {
    position: absolute;
    right: 30px;
    cursor: pointer;
}

.toggle {
    display: block;
}

.hidden {
    display: none;
}

:root {
    --background: #e4e4e4;
    --font: #000;
    --background2: #c3c3c3;
    --background3: #ffffff00;
}